html
  head
    script(src="/js/jquery-2.1.4.min.js")
    script(type="text/javascript").
      $(document).ready(function(){
        
      });
    style.
      h1{
        color:red;
      }
  body
    h1 Hello World!
    .subtitle Here's a simple todo list
    form(method="post",action="/update")
      ul
        each todo in todoList
          li
            input(type="checkbox",val=todo.id)
            =todo.title
      